Mezzanine==3.1.10
#git+http://github.com/stephenmcd/mezzanine.git#egg=mezzanine
#git+https://github.com/destos/mezzanine.git#egg=mezzanine

# Database
psycopg2==2.5.4

# Templates
django-jinja==1.4.1
django-compressor==1.5

# extra
django-extensions==1.5.2
django-webpack-loader==0.0.5
