{% extends "base.html" %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}
{# {% metablock %} #}
{% set keywords = keywords_for(page) %}
{% for keyword in keywords %}{% if not loop.first %}, {% endif %}{{ keyword }}{% endfor %}
{# {% endmetablock %} #}
{% endblock %}

{% block meta_description %}
{# {% metablock %} #}
{{ page.description }}
{# {% endmetablock %} #}
{% endblock %}

{% block title -%}
    {# {% editable page.title %} #}
    {{ page.title }}
    {# {% endeditable -%} #}
{% endblock %}

{% block main %}
{% endblock %}
