footer.main-footer
    padding: 20px 0 50px
    .copyright
    .footer-links
        font-size: 14px
    .footer-links
        margin-bottom: 0
    .separator
        font-size: 0.9em
        color: $gray-light

