// Mixins
@import 'nib'

background-size()
    vendor('background-size', arguments, only: webkit moz official o)

serif()
    font-family: 'Lora', 'Times New Roman', serif

sans-serif()
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
