// Navigation

.navbar-custom
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
    sans-serif()
    .navbar-brand
        font-weight: 800

    .nav.navbar-nav
        > li
            > a
                text-transform: uppercase
                font-size: 12px
                font-weight: 800
                letter-spacing: 1px
        > .active
            > a
                background: rgba($white-faded, 0.5)


    @media only screen and (min-width: 768px)
        background: transparent
        border-bottom: 1px solid transparent
        .navbar-brand
            color: white
            padding: 20px
            &:hover,
            &:focus
                color: $white-faded

        .nav
            > li
                > a
                    color: white
                    padding: 20px
                    &:hover,
                    &:focus
                        color: $white-faded


    @media only screen and (min-width: 1170px)
        transition: background-color 0.3s
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0)
        backface-visibility: hidden
        &.is-fixed
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed
            top: -61px
            background-color: transparentify(white, 90%)
            border-bottom: 1px solid darken(white, 5%)
            transition: transform 0.3s
            .navbar-brand
                color: $gray-dark
                &:hover,
                &:focus
                    color: $brand-primary
            .nav
                > li
                    > a
                        color: $gray-dark
                        &:hover,
                        &:focus
                            color: $brand-primary

        &.is-visible
            /* if the user changes the scrolling direction, we show the header */
            transform: translate3d(0, 100%, 0)

