// -- Typography
@require "variables.styl"
@require "mixins.styl"

// p
//     line-height: 1.5
//     margin: 30px 0
//     a
//         text-decoration: underline

h1,
h2,
h3,
h4,
h5,
h6
    sans-serif()
    font-weight: 800

a
    color: $brand-primary
    // text-decoration: underline
    &:hover,
    &:focus
        color: darken($brand-primary, 25%)


// Show zoom in cursor when hovering over a link with an image.
// TODO: inspect href and onyl dispaly if linking to another image
a img
    &:hover,
    &:focus
        cursor: zoom-in


blockquote
    color: $gray
    font-style: italic

hr.small
    max-width: 100px
    margin: 15px auto
    border-width: 4px
    border-color: white
