<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <title>
      {%- block meta_title -%}{%- endblock -%}
      {% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif -%}
    </title>
    {% if is_installed('mezzanine.blog') %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ url( "blog_post_feed", "rss" ) }}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ url( "blog_post_feed", "atom" ) }}">
    {% endif %}
  </head>
  <body>
    {% block main %}

    {% endblock %}
  </body>
</html>
